body {
  padding: 0;
}

.search{
  width: 100px !important;
  height: 30px !important;
  background-color: #00aeef !important;
  border-radius: 4px !important;
  color: #fff !important;
}

.div-container{
	background: #00aeef; 
	height: 336px; 
	color: #fff;
}

.divInfo{
	font-family: monospace;
	margin-left: 10px !important;
}


.divCity-country{
	font-size: 30px;
	padding: 10px;
	font-weight: bold;
}

.pointer{
	cursor: pointer;
}

.fs-30{
	font-size: 30px;
}

.lbl-description{
	font-size: 25px;
	padding-bottom: 15px;
}
