/*
@font-face {
  font-family: "SF Compact";
  font-weight: 300;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}
*/
/** Tipography */
@font-face {
  font-family: 'Helvetica Neue';
  src: url("fonts/helvetica/HelveticaNeueMedium.eot");
  src: url("fonts/helvetica/HelveticaNeueMedium.eot") format("embedded-opentype"), 
       url("fonts/helvetica/HelveticaNeueMedium.woff2") format("woff2"), 
       url("fonts/helvetica/HelveticaNeueMedium.woff") format("woff"), 
       url("fonts/helvetica/HelveticaNeueMedium.ttf") format("truetype"), 
       url("fonts/helvetica/HelveticaNeueMedium.svg#HelveticaNeueMedium") format("svg");
  font-weight: 500 !important; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("fonts/helvetica/HelveticaNeueBold.eot");
  src: url("fonts/helvetica/HelveticaNeueBold.eot") format("embedded-opentype"), 
       url("fonts/helvetica/HelveticaNeueBold.woff2") format("woff2"), 
       url("fonts/helvetica/HelveticaNeueBold.woff") format("woff"), 
       url("fonts/helvetica/HelveticaNeueBold.ttf") format("truetype"), 
       url("fonts/helvetica/HelveticaNeueBold.svg#HelveticaNeueBold") format("svg");
  font-weight: 700 !important; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("fonts/helvetica/HelveticaNeueRoman.eot");
  src: url("fonts/helvetica/HelveticaNeueRoman.eot") format("embedded-opentype"), 
       url("fonts/helvetica/HelveticaNeueRoman.woff2") format("woff2"), 
       url("fonts/helvetica/HelveticaNeueRoman.woff") format("woff"), 
       url("fonts/helvetica/HelveticaNeueRoman.ttf") format("truetype"), 
       url("fonts/helvetica/HelveticaNeueRoman.svg#HelveticaNeueRoman") format("svg");
  font-weight: normal !important; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("fonts/helvetica/HelveticaNeueLight.eot");
  src: url("fonts/helvetica/HelveticaNeueLight.eot") format("embedded-opentype"), 
       url("fonts/helvetica/HelveticaNeueLight.woff2") format("woff2"), 
       url("fonts/helvetica/HelveticaNeueLight.woff") format("woff"), 
       url("fonts/helvetica/HelveticaNeueLight.ttf") format("truetype"), 
       url("fonts/helvetica/HelveticaNeueLight.svg#HelveticaNeueLight") format("svg");
  font-weight: 300 !important; }

@font-face {
  font-family: 'Helvetica Neue Roman';
  src: url("fonts/helvetica/HelveticaNeueRoman.eot");
  src: url("fonts/helvetica/HelveticaNeueRoman.eot") format("embedded-opentype"), 
       url("fonts/helvetica/HelveticaNeueRoman.woff2") format("woff2"), 
       url("fonts/helvetica/HelveticaNeueRoman.woff") format("woff"), 
       url("fonts/helvetica/HelveticaNeueRoman.ttf") format("truetype"), 
       url("fonts/helvetica/HelveticaNeueRoman.svg#HelveticaNeueRoman") format("svg"); }

h1 {
  font-size: 36px;
  line-height: 45px;
  font-weight: 500; }
  @media screen and (max-width: 992px) {
    h1 {
      font-size: 30px;
      line-height: 40px; } }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 24px;
      line-height: 28px; } }

h2 {
  font-size: 30px;
  line-height: 38px; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 24px;
      line-height: 34px; } }

h3 {
  font-size: 24px;
  line-height: 30px; }
  @media screen and (max-width: 992px) {
    h3 {
      font-size: 20px; } }

h4 {
  font-size: 22px; }

h5 {
  font-size: 20px;
  font-weight: 600; }

h6 {
  font-size: 18px;
  line-height: 20px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", Helvetica, sans-serif;
  font-weight: 500; }

dl {
  margin-bottom: 0; }
  dl dd,
  dl dt {
    display: inline-block;
    font-family: "Quicksand", Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 23px; }
  dl dd {
    width: 170px;
    font-weight: normal; }
  dl dt {
    width: calc(100% - 175px);
    font-weight: 500;
    word-wrap: break-word; }
  @media only screen and (max-width: 480px) {
    dl dd {
      display: block;
      margin-bottom: 0; }
    dl dt {
      width: 100%;
      margin-bottom: 10px; } }

body {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #36373c;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background: #f9f9f9; }
  @media screen and (max-width: 992px) {
    body {
      font-size: 15px;
      line-height: 25px; } }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

h1 {
  margin-bottom: 18px; }

h2, h3, h4, h5, h6 {
  margin-bottom: 17px; }

a {
  color: #69bc35;
  font-family: "Quicksand", Helvetica, sans-serif;
  transition: all 0.6s ease; }
  a.medium-link {
    font-weight: 500;
    line-height: 19px; }
  a.uncolor-link, a.uncolor-link:hover, a.uncolor-link:focus {
    color: #36373c; }

/*p,
cite,
a,
li {
    font-family: $main_font_normal;
}*/
.user-page-content,
.form-user {
  font-family: "Quicksand", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px; }
  .user-page-content p,
  .user-page-content cite,
  .user-page-content a,
  .user-page-content li,
  .form-user p,
  .form-user cite,
  .form-user a,
  .form-user li {
    font-family: inherit; }
  .user-page-content a,
  .form-user a {
    font-weight: 500; }

p {
  line-height: inherit;
  margin-bottom: 24px; }

cite {
  display: block;
  line-height: 18px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 19px; }

/* Reset bootstrap container, row, and col- */
.container {
  width: 100%; }
  @media screen and (min-width: 1194px) {
    .container {
      max-width: 1200px; } }
  @media screen and (max-width: 992px) {
    .container {
      width: 100%; } }

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.075); }

picture {
  display: block;
  margin: 0;
  padding: 0; }

.primary {
  color: #00aeef; }

.primary-bg {
  background-color: #ffcb05; }

.secondary {
  color: #39464f; }

.secondary-bg {
  background-color: #39464f; }

.secondary-light-bg {
  background-color: #f9f9f9; }

.secondary-2-bg {
  background-color: #336b10; }
  .secondary-2-bg h3, .secondary-2-bg h4, .secondary-2-bg h5, .secondary-2-bg h6 {
    color: #fff; }

.white-color {
  color: #fff; }

.semibold {
  font-weight: 600; }

.loud {
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #5e5e5e; }

.btn {
  font-family: "Quicksand", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #dadada;
  /*copied from header, needs checking*/
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s; }
  .btn.btn-default {
    color: #00aeef;
    background-color: #f9f9f9;
    border-color: #dadada; }
    .btn.btn-default:active:focus {
      color: #00aeef;
      background-color: #e0e0e0;
      border-color: #e0e0e0; }
      .btn-default:active:hover{
        color: #00aeef;}
  .btn.btn-primary {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    text-align: center;
    padding: 17px 28px 16px 28px;
    background-color: #00aeef;
    border-radius: 4px;
    color: #fff; }
    .btn.btn-primary:hover, .btn.btn-primary:active:focus {
      background-color: #00aeef;
      border-color: #00aeef;
      border-radius: 4px; }
  .btn.btn-empty {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    border: 1px solid transparent; }
  .btn.btn-undecorated {
    background-color: transparent;
    border: 1px solid transparent; }
    .btn.btn-undecorated:hover, .btn.btn-undecorated:focus {
      background-color: transparent !important;
      outline: 0; }
  .btn.btn-lg {
    font-size: 18px;
    line-height: 25px;
    padding: 15px 28px 18px 28px; }
  .btn.btn-sm {
    font-size: 16px !important;
    line-height: 20px !important;
    text-align: center !important;
    padding: 15px 38px !important; }
  .btn.btn-wide {
    min-width: 210px; }
  .btn.btn-form {
    font-size: 12px !important;
    font-weight: 500;
    line-height: 15px !important;
    padding: 6.5px 20px !important;
    text-align: center; }
    .btn.btn-form.btn-fixed-w {
      width: 86px !important;
      padding-left: 0 !important;
      padding-right: 0 !important; }
  .btn.btn-tag {
    background-color: #69bc35;
    border-color: #69bc35;
    font-weight: normal;
    color: #fff;
    border-radius: 12px; }
  .btn:focus {
    outline: 0; }

.btn-group-xs > .btn,
.btn-xs {
  font-size: 12px;
  line-height: 15px;
  padding: 3px 12px; }

/*  Social buttons and fullwith button */
.btn.btn-social {
  width: 187px;
  padding-left: 0;
  padding-right: 0;
  text-align: center; }
  .btn.btn-social.btn-facebook {
    color: #fff;
    background-color: #395b98; }
    .btn.btn-social.btn-facebook:hover {
      background-color: #446db6; }
  .btn.btn-social.btn-linkedin {
    color: #fff;
    background-color: #4a74a1; }
    .btn.btn-social.btn-linkedin:hover {
      background-color: #5f88b5; }

.btn.btn-fullwidth {
  width: 100%; }

/** Buttons for user pages or form-user*/
.user-page-content .btn,
.user-page-content .btn-primary,
.form-user .btn,
.form-user .btn-primary {
  font-family: "Quicksand", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 12px 28px; }

.user-page-content .btn-xsm,
.form-user .btn-xsm {
  font-size: 12px;
  padding: 11px 15px 12px 15px;
  line-height: 15px; }

.user-page-content .btn-empty,
.form-user .btn-empty {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border: 1px solid transparent;
  color: #36373c; }

form.lg-group-form .form-group {
  margin-bottom: 20px; }

.form-control {
  font-family: "Quicksand", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  border: 1px solid #dadada;
  line-height: 20px;
  box-shadow: none;
  padding: 11px 16px 11px 16px;
  height: auto;
  color: #000000;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.08); }
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b8b8b8; }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #b8b8b8; }
  .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #b8b8b8; }
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #b8b8b8; }
  .form-control:-o-input-placeholder {
    color: #b8b8b8; }
  .form-control[type="password"] {
    background: #fff url(../images/password-icon.png) no-repeat;
    background-size: 18px auto;
    background-position: calc(100% - 16px) center; }
  .form-control.error {
    color: #ff575b !important; }

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../images/arrow-select.png);
  background-repeat: no-repeat;
  background-size: 9.2px auto;
  background-position: calc(100% - 20px) center; }
  select.form-control.sm, select.form-control.xs {
    background-image: url(../images/arrow-select-sm.png);
    background-repeat: no-repeat;
    background-size: 8.19px auto;
    background-position: calc(100% - 13.4px) center;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    padding-left: 11px;
    padding-top: 8px;
    padding-bottom: 8px; }
  select.form-control.xs {
    background-size: 6.88px auto;
    background-position: calc(100% - 11px) center;
    padding: 8px 32px 8px 10px; }
  select.form-control.inline {
    display: inline-block;
    width: auto; }
  select.form-control.box-shadow {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12); }

textarea.form-control {
  line-height: 19px; }

.form-btn-group {
  margin-top: 10px; }

fieldset {
  margin-bottom: 30px;
  padding-left: 50px;
  padding-right: 60px;
  padding-bottom: 10px; }
  @media only screen and (max-width: 992px) {
    fieldset {
      padding-left: 30px;
      padding-right: 40px; } }
  @media only screen and (max-width: 768px) {
    fieldset {
      padding-left: 0;
      padding-right: 0; } }
  fieldset:last-child {
    padding-bottom: 0;
    margin-bottom: 0; }
  fieldset legend {
    border-bottom: 0 none;
    font-family: "Quicksand", Helvetica, sans-serif;
    font-weight: 500;
    line-height: 23px;
    font-size: 18px;
    margin-bottom: 30px; }
  fieldset .group-field {
    padding-bottom: 18px; }
    fieldset .group-field label {
      padding-top: 6px; }
  fieldset .group-divider {
    margin-top: 17px;
    margin-bottom: 17px; }
  fieldset dl {
    margin-bottom: 7px; }

label {
  font-weight: 500;
  margin-bottom: 0; }

/**
 Markup needed: <input type="radio" name="rate-this" id="radio1" ><label class="radio" for="radio1"><span></span></label>
*/
input[type="radio"] {
  position: absolute;
  visibility: hidden; }
  input[type="radio"] + label {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 0;
    margin-right: 8px;
    cursor: pointer; }
  input[type="radio"] + label:before {
    position: absolute;
    display: inline-block;
    content: " ";
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
    margin-left: -4px;
    margin-top: -4px;
    margin-bottom: 0; }
  input[type="radio"] + label:after {
    position: absolute;
    content: " ";
    left: 0;
    top: 0;
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #eae7e7;
    z-index: 9; }
  input[type="radio"]:checked + label:before {
    border: 1px solid #69bc35; }
  input[type="radio"]:checked + label:after {
    background-color: #69bc35; }

/* Form messages */
.message {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  margin-top: 5px; }
  .message.error {
    color: #ff575b; }

input[type="checkbox"] {
  position: absolute;
  visibility: hidden; }
  input[type="checkbox"] + label {
    position: relative;
    padding-left: 21px; }
  input[type="checkbox"] + label:before {
    content: " ";
    position: absolute;
    top: 3px;
    left: 0px;
    width: 11.5px;
    height: 11.5px;
    font-size: 9px;
    line-height: 10px;
    text-align: center;
    display: block;
    border: 1px solid #b8b8b8;
    border-radius: 2px;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.08); }
  input[type="checkbox"]:checked + label:before {
    font-family: 'FontAwesome';
    content: "\f00c";
    background-color: #69bc35;
    border: 1px solid #69bc35;
    color: #fff; }

.option-link {
  position: relative; }
  .option-link img {
    position: absolute;
    left: -25px;
    top: 2px; }
  @media only screen and (max-width: 992px) {
    .option-link {
      left: 5px; } }
  @media only screen and (max-width: 768px) {
    .option-link img {
      position: relative;
      left: initial;
      margin-right: 5px;
      top: 0; } }

.column-button {
  text-align: right; }

/** Customization for user pages */
body.user-pages .user-page-content .form-control,
.form-user .user-page-content .form-control {
  color: #000; }

body.user-pages label.block-label,
.form-user label.block-label {
  display: block;
  margin-bottom: 29px; }

body.user-pages p.message,
.form-user p.message {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 66px; }

.form-user h2 {
  margin-bottom: 29px; }

@media only screen and (min-width: 993px) {
  .form-gutter-15 .row > div[class*="col-"]:not(:first-child) {
    padding-left: 0; } }

/** Navbar */
.navbar-default {
  background-color: transparent;
  border-radius: 0;
  border: 0 none;
  margin-top: 15px;
  margin-bottom: 25px; }
  .navbar-default .navbar-brand {
    font-family: "Pacifico", Helvetica, sans-serif;
    font-size: 40px;
    color: #000;
    padding-left: 0;
    padding-right: 0;
    background: url(../images/aim-hire.png) no-repeat;
    background-size: contain;
    height: 69px;
    width: 154px;
     }
    @media only screen and (min-width: 1200px) {
      .navbar-default .navbar-brand {
        padding-left: 0; } }
    .navbar-default .navbar-brand span {
      color: #59b228; }
  .navbar-default .navbar-header .navbar-toggle:first-child {
    margin-right: 0; }
  .navbar-default .navbar-header .nav-mobile-btn {
    padding: 5px;
    line-height: 1em;
    border-radius: 50%;
    border: 0 none;
    color: #00aeef;
    background-color: transparent;
    margin-top: 35px;
      margin-bottom: 0px; }
    .navbar-default .navbar-header .nav-mobile-btn:first-child {
      color: #fff;
      background-color: #00aeef;
      margin-top: 35px;
      margin-bottom: 0px;  }

/* Common nav */
.navbar-default .navbar-nav li a {
  background-color: transparent;
  border-color: transparent !important;
  color: #00aeef;
  font-family: "Quicksand", Helvetica, sans-serif;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid #f9f9f9;
  padding-top: 14px;
  padding-bottom: 14px; }
  .navbar-default .navbar-nav li a:hover {
    color: #69bc35;
    text-decoration: underline; }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
      color: #00aeef;
    }

.navbar-default .navbar-nav li.active a,
.navbar-default .navbar-nav li.active a:focus,
.navbar-default .navbar-nav li.active a:hover {
  background-color: #f9f9f9;
  border: 1px solid #dadada !important;
  border-radius: 4px;
  color: #00aeef;
  padding: 14px 30px; }

.navbar-default .navbar-nav .active a:focus,
.navbar-default .navbar-nav .active:hover a:hover,
.navbar-default .navbar-nav .active:hover a:focus {
  text-decoration: none;
  /*box-shadow: inset 0 1px 5px rgba(0,0,0,.08);*/
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.11); }

ul.nav-options li {
  padding-left: 30px;
  border-left: 3px solid transparent;
  transition: all 0.6s ease; }
  ul.nav-options li a {
    font-family: "Quicksand", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    padding: 5px 0; }
    ul.nav-options li a:hover {
      background-color: #fff;
      color: #000; }
  ul.nav-options li.active {
    border-left: 3px solid #00aeef; }
    ul.nav-options li.active a,
    ul.nav-options li.active a:focus
a:hover {
      color: #000 !important;
      background-color: #fff !important; }

@media only screen and (max-width: 768px) {
  ul.nav-options li a {
    font-size: 16px;
    line-height: 18px;
    padding: 3px 0; } }

/* Thumbnail */
.thumbnail {
  position: relative;
  border: 0 none;
  padding: 0;
  margin-bottom: 34px; }
  .thumbnail p {
    line-height: 24px; }
  .thumbnail picture {
    height: 262px;
    overflow: hidden; }
    .thumbnail picture img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .thumbnail .caption {
    padding-bottom: 25px;
    padding: 24px 31px;
    padding-bottom: 25px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24); }
    .thumbnail .caption a {
      font-family: "Quicksand", Helvetica, sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 25px; }
    .thumbnail .caption p {
      margin-bottom: 13px; }
  .thumbnail header {
    height: 262px;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
    .thumbnail header .category-btn {
      border-color: #fafafa;
      border-radius: 10px;
      position: absolute;
      top: 22px;
      right: 21px; }
    .thumbnail header > div,
    .thumbnail header > div.over-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin-top: 80px;
      bottom: 22px;
      padding-left: 31px;
      padding-right: 35px;
      color: #fff; }
      .thumbnail header > div img,
      .thumbnail header > div.over-content img {
        opacity: 0.65; }
      .thumbnail header > div h3,
      .thumbnail header > div.over-content h3 {
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 5px; }
      .thumbnail header > div p,
      .thumbnail header > div.over-content p {
        font-size: 18px;
        line-height: 21px;
        font-weight: 300;
        font-family: "Quicksand", Helvetica, sans-serif;
        color: #fff; }

/* Thumbnail offers */
.thumbnail.offer header {
  text-align: center;
  height: auto;
  padding-top: 26px;
  padding-bottom: 42px; }
  .thumbnail.offer header h6 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 24px; }
  .thumbnail.offer header img {
    height: 62px; }

.thumbnail.offer .caption {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 23px;
  padding-bottom: 38px; }
  .thumbnail.offer .caption h3 {
    margin-bottom: 12px; }
  .thumbnail.offer .caption .text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-bottom: 23px; }
    .thumbnail.offer .caption .text p {
      font-family: "Helvetica Neue Roman", Helvetica, sans-serif;
      font-size: 15px;
      line-height: 20px;
      font-weight: normal;
      margin-bottom: 0; }
  .thumbnail.offer .caption .btn.btn-default, .thumbnail.offer .caption .btn.btn-primary {
    padding-left: 17px;
    padding-right: 17px; }

/** Modals */
/*  Common to all modals */
.modal .modal-dialog {
  top: 175px; }
  .modal .modal-dialog.sm-dialog {
    width: 480px; }
  .modal .modal-dialog .modal-content {
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1173);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1173); }
    .modal .modal-dialog .modal-content .modal-header {
      padding: 30px 40px;
      padding-bottom: 20px;
      border-bottom: 1px solid #dadada; }
      .modal .modal-dialog .modal-content .modal-header h4 {
        font-size: 20px;
        font-family: "Quicksand", Helvetica, sans-serif;
        line-height: 25px;
        color: #000; }
      .modal .modal-dialog .modal-content .modal-header .close {
        background: url(../images/modal-close.png) center center no-repeat;
        background-size: 100% auto;
        font-size: 19px;
        opacity: 0.35;
        width: 13px;
        height: 13px; }
        .modal .modal-dialog .modal-content .modal-header .close span {
          display: none; }
        .modal .modal-dialog .modal-content .modal-header .close:hover {
          opacity: 1; }
    .modal .modal-dialog .modal-content .modal-body {
      padding: 20px 40px; }
    .modal .modal-dialog .modal-content .modal-footer {
      padding: 40px;
      padding-top: 0;
      border-top: 0 none;
      text-align: left; }
  @media only screen and (max-width: 768px) {
    .modal .modal-dialog {
      margin-left: 15px;
      margin-right: 15px; }
      .modal .modal-dialog.sm-dialog {
        width: auto; }
      .modal .modal-dialog .modal-content .modal-header,
      .modal .modal-dialog .modal-content .modal-body,
      .modal .modal-dialog .modal-content .modal-footer {
        padding-left: 15px;
        padding-right: 15px; }
      .modal .modal-dialog .modal-content .modal-header {
        padding-top: 20px; }
      .modal .modal-dialog .modal-content .modal-footer {
        padding-bottom: 20px; } }
  @media only screen and (max-width: 392px) {
    .modal .modal-dialog {
      top: 50px; } }

.modal-backdrop.in {
  opacity: .7 !important;
  background-color: #39454f; }

/* Customized modals */
.modal .modal-dialog.login-dialog .modal-header {
  padding-bottom: 0;
  border-bottom: 0 none; }
  .modal .modal-dialog.login-dialog .modal-header h3 {
    line-height: 30px;
    text-align: center; }

.modal .modal-dialog.login-dialog .modal-body {
  padding-top: 36px; }

.modal .modal-dialog.posting-dialog {
  top: 36%; }
  @media only screen and (max-width: 480px) {
    .modal .modal-dialog.posting-dialog {
      top: 50px; } }

/* Media content: text to left and image content to right */
.media-content .section-text h1 {
  margin-top: 25px; }

.media-content .section-text p {
  margin-bottom: 27px; }
  @media only screen and (min-width: 993px) {
    .media-content .section-text p {
      padding-right: 100px; } }
  @media only screen and (min-width: 1190px) {
    .media-content .section-text p {
      padding-right: 170px; } }

.media-content .section-image figure {
  border-radius: 4px;
  width: 374px; }
  .media-content .section-image figure img {
    object-fit: cover;
    width: 100%;
    line-height: 100%;
    border-radius: 4px; }
  .media-content .section-image figure figcaption {
    color: #00aeef;
    font-size: 18px;
    margin-top: 18px;
    line-height: 23px;
    font-family: "Quicksand", Helvetica, sans-serif;
    font-weight: 500;
    margin-bottom: 6px; }

.media-content .section-image p {
  margin-bottom: 12px; }

.media-content .row > div[class*="col-"],
.media-content > div > div[class*="col-"] {
  padding-bottom: 60px; }

@media only screen and (max-width: 992px) {
  .media-content .section-text p {
    padding-right: 0; }
  .media-content .section-image figure {
    display: block;
    width: 100%; }
    .media-content .section-image figure img {
      max-width: 100%;
      width: 100%; } }

/* Content box with padding and box shadow */
.content-box-wrapper {
  padding: 45px 40px 51px 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.34);
  border-radius: 4px;
  background-color: #fff; }
  .content-box-wrapper > header {
    margin-bottom: 37px; }
    .content-box-wrapper > header h1, .content-box-wrapper > header h2, .content-box-wrapper > header h3 {
      margin-bottom: 10px; }
    .content-box-wrapper > header p {
      line-height: 18px;
      margin-bottom: 0; }
  .content-box-wrapper .box-aside {
    padding-top: 55px;
    padding-bottom: 55px; }
    .content-box-wrapper .box-aside picture {
      margin-bottom: 20px; }
      .content-box-wrapper .box-aside picture img {
        border-radius: 50%;
        max-width: 180px;
        max-width: 100%; }
  .content-box-wrapper .box-content {
    padding-bottom: 52px; }
    .content-box-wrapper .box-content header {
      margin-bottom: 35px; }
  .content-box-wrapper .box-content-btm {
    margin-top: 52px; }
  @media only screen and (max-width: 992px) {
    .content-box-wrapper {
      /*margin-left: 15px;
        margin-right: 15px;*/ } }
  @media only screen and (max-width: 768px) {
    .content-box-wrapper {
      padding-left: 25px;
      padding-right: 25px; }
      .content-box-wrapper .box-content-btm {
        text-align: center; } }

.flex-box-equalH {
  display: flex;
  align-items: stretch; }

.pagination-wrapper {
  font-family: "Quicksand", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px; }
  .pagination-wrapper .pagination {
    margin-top: 0;
    margin-bottom: 0; }
    .pagination-wrapper .pagination > li > a,
    .pagination-wrapper .pagination > li > span {
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-bottom: 5px;
      line-height: 18px;
      color: #000;
      border: 0 none;
      border-radius: 4px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.178); }
      .pagination-wrapper .pagination > li > a[aria-label="Previous"], .pagination-wrapper .pagination > li > a[aria-label="Next"],
      .pagination-wrapper .pagination > li > span[aria-label="Previous"],
      .pagination-wrapper .pagination > li > span[aria-label="Next"] {
        width: 74px;
        text-align: center;
        margin-right: 15px; }
        @media only screen and (max-width: 480px) {
          .pagination-wrapper .pagination > li > a[aria-label="Previous"], .pagination-wrapper .pagination > li > a[aria-label="Next"],
          .pagination-wrapper .pagination > li > span[aria-label="Previous"],
          .pagination-wrapper .pagination > li > span[aria-label="Next"] {
            width: 40px;
            margin-right: 5px; } }
      .pagination-wrapper .pagination > li > a[aria-label="Next"],
      .pagination-wrapper .pagination > li > span[aria-label="Next"] {
        margin-right: 0;
        margin-left: 15px; }
        @media only screen and (max-width: 480px) {
          .pagination-wrapper .pagination > li > a[aria-label="Next"],
          .pagination-wrapper .pagination > li > span[aria-label="Next"] {
            margin-left: 5px; } }
      .pagination-wrapper .pagination > li > a:not([aria-label="Previous"]):not([aria-label="Next"]),
      .pagination-wrapper .pagination > li > span:not([aria-label="Previous"]):not([aria-label="Next"]) {
        width: 36px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px; }
        @media only screen and (max-width: 480px) {
          .pagination-wrapper .pagination > li > a:not([aria-label="Previous"]):not([aria-label="Next"]),
          .pagination-wrapper .pagination > li > span:not([aria-label="Previous"]):not([aria-label="Next"]) {
            margin-left: 1px;
            margin-right: 1px; } }
    .pagination-wrapper .pagination > li > a {
      color: #69bc35; }
    .pagination-wrapper .pagination > .active > a,
    .pagination-wrapper .pagination > .active > a:focus,
    .pagination-wrapper .pagination > .active > a:hover,
    .pagination-wrapper .pagination > .active > span,
    .pagination-wrapper .pagination > .active > span:focus,
    .pagination-wrapper .pagination > .active > span:hover {
      z-index: 3;
      color: #000;
      cursor: default;
      background-color: inherit; }
    .pagination-wrapper .pagination > .disabled > a,
    .pagination-wrapper .pagination > .disabled > a:focus,
    .pagination-wrapper .pagination > .disabled > a:hover,
    .pagination-wrapper .pagination > .disabled > span,
    .pagination-wrapper .pagination > .disabled > span:focus,
    .pagination-wrapper .pagination > .disabled > span:hover {
      cursor: default;
      color: #b8b8b8; }
  .pagination-wrapper .pages {
    text-align: right; }
  @media only screen and (max-width: 768px) {
    .pagination-wrapper nav {
      text-align: center; }
      .pagination-wrapper nav .pagination {
        margin-bottom: 20px; }
    .pagination-wrapper .pages {
      text-align: center; }
    .pagination-wrapper .row > div[class*="col-xs"] {
      width: 100%; } }

/* Common styles for slick slider */
.slick-slider .slick-dots {
  margin: 0;
  padding: 0;
  list-style: none; }
  .slick-slider .slick-dots li {
    display: inline-block !important; }
    .slick-slider .slick-dots li button[type="button"] {
      position: relative;
      width: 11px;
      height: 11px;
      padding: 0;
      border-radius: 50%;
      background-color: #eae7e7;
      z-index: 9;
      font-size: 0;
      border: 0 none;
      margin-right: 8px; }
      .slick-slider .slick-dots li button[type="button"]:after {
        position: absolute;
        content: " ";
        left: -4px;
        top: -4px;
        display: block;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        border: 1px solid transparent;
        background-color: transparent;
        cursor: pointer; }
      .slick-slider .slick-dots li button[type="button"]:focus {
        outline: 0; }
      @media only screen and (max-width: 992px) {
        .slick-slider .slick-dots li button[type="button"] {
          margin-right: 15px; } }
    .slick-slider .slick-dots li[aria-hidden="false"] button[type="button"] {
      background-color: #00aeef; }
      .slick-slider .slick-dots li[aria-hidden="false"] button[type="button"]:after {
        border: 1px solid #00aeef; }

/** Panels */
.panel {
  margin-bottom: 0px;
  padding: 35px 60px 10px 40px;
  border: 0 none;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.34);
  overflow: hidden; }
  .panel .panel-title {
    font-size: 30px;
    color: inherit;
    line-height: 38px; }
    @media only screen and (max-width: 768px) {
      .panel .panel-title {
        font-size: 24px;
        line-height: 26px; } }
  .panel .panel-heading {
    padding: 0;
    border-bottom: 0 none;
    border-radius: 0;
    margin-bottom: 40px; }
  .panel .panel-body {
    padding: 0; }
  .panel .panel-footer {
    padding: 0;
    background-color: #fff;
    border-radius: 0;
    border-top: 0 none; }
  .panel.panel-default .panel-heading {
    color: inherit;
    background-color: #fff;
    border-color: #dadada; }
  @media only screen and (max-width: 768px) {
    .panel {
      padding: 20px 20px 10px 20px; } }
  @media only screen and (max-width: 480px) {
    .panel .panel-heading.panel-heading-side-area .panel-title {
      float: none !important;
      margin-bottom: 20px; }
    .panel .panel-heading.panel-heading-side-area .heading-side-area {
      float: none !important; } }

/** Tables */
.table {
  margin-bottom: 0px; }
  .table > tbody > tr > td,
  .table > tbody > tr > th,
  .table > tfoot > tr > td,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > thead > tr > th {
    line-height: 18px;
    font-size: 14px;
    border-top: 1px solid #dadada;
    color: #000; }
  .table thead tr th {
    padding: 0;
    padding-bottom: 16.5px;
    font-weight: bold;
    border-bottom: 0 none;
    position: relative; }
    .table thead tr th img {
      position: absolute;
      top: 7px;
      left: auto;
      margin-left: 8px;
      width: 8px; }
    @media only screen and (max-width: 768px) {
      .table thead tr th {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 12px; }
        .table thead tr th:first-child {
          padding-left: 5px; }
        .table thead tr th:last-child {
          padding-right: 5px; }
        .table thead tr th img {
          top: 19px; } }
  .table tbody tr td {
    padding-top: 19.87px;
    padding-bottom: 19.87px;
    padding-left: 0;
    padding-right: 0; }
    .table tbody tr td.option {
      padding-right: 10px; }
    @media only screen and (max-width: 768px) {
      .table-responsive .table tbody tr td {
        padding-left: 10px;
        padding-right: 10px;
        white-space: normal; }
        .table-responsive .table tbody tr td:first-child {
          padding-left: 5px; }
        .table-responsive .table tbody tr td:last-child {
          padding-right: 5px; } }

/** Header */
header.main-header {
  background-color: #fff; }
  header.main-header .navbar-form {
    margin-top: 0; }
  header.main-header .search-form {
    width: 100%;
    border: 0 none;
    margin-bottom: 0; }
    header.main-header .search-form .form-group {
      width: calc(100% - 85px);
      position: relative; }
      header.main-header .search-form .form-group .form-control {
        width: 100%;
        line-height: 20px;
        font-size: 16px;
        height: auto;
        padding: 13px 20px 15px 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
    header.main-header .search-form button.btn {
      margin-left: -1px;
      font-size: 16px;
      border: 1px solid #dadada;
      line-height: 16px;
      padding: 16px 13px 16px 13px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
      header.main-header .search-form button.btn:hover, header.main-header .search-form button.btn:focus {
        outline: 0; }
  header.main-header .navbar-collapse {
    padding: 0; }
     header.main-header .navbar-collapse .row .col-md-offset-1 {
      margin-top: 16px; }
    @media screen and (min-width: 768px) and (max-width: 1194px) {
      header.main-header .navbar-collapse .row .col-md-offset-1 {
        margin-left: 4.33333333%; } }
    @media only screen and (min-width: 1200px) {
      header.main-header .navbar-collapse .row .col-md-offset-1 {
        margin-left: 5.33333333%; } }
  @media screen and (max-width: 767px) {
    header.main-header .navbar .navbar-default {
      margin-bottom: 35px; }
    header.main-header .navbar-collapse {
      border-color: #dadada; }
    header.main-header .search-form {
      margin: 35px 0 0 0;
      padding: 0; }
      header.main-header .search-form .form-group {
        width: calc(100% - 72px); }
        header.main-header .search-form .form-group .form-control {
          padding-right: 0px; }
      header.main-header .search-form button.btn {
        position: absolute;
        top: 0;
        right: 10px; } }
  @media only screen and (max-width: 480px) {
    header.main-header .navbar .navbar-collapse .container-fluid {
      padding: 0; }
      header.main-header .navbar .navbar-collapse .container-fluid .row {
        margin-left: 0;
        margin-right: 0; }
        header.main-header .navbar .navbar-collapse .container-fluid .row div[class*="col-"] {
          padding-left: 0;
          padding-right: 0; }
    header.main-header .search-form .form-group {
      width: calc(100% - 64px); }
    header.main-header .search-form button.btn {
      right: 0; } }

.top-links {
  background-color: #00aeef;
  padding-top: 20px;
  padding-bottom: 20px; }
  .top-links ul {
    margin-bottom: 0; }
    .top-links ul li:first-child {
      padding-left: 0; }
    .top-links ul li a {
      font-family: "Quicksand", Helvetica, sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      margin-left: 0;
      padding: 0 20px;
      color: #fff; }
      .top-links ul li a.active {
        color: #2e6c07; }
      .top-links ul li a:first-child {
        padding-left: 0; }
      @media screen and (max-width: 768px) {
        .top-links ul li a {
          font-size: 18px;
          padding-right: 8px; } }
      @media only screen and (max-width: 480px) {
        .top-links ul li a {
          padding-right: 0; } }

/** Footer */
.footer {
  background-color: #39464f;
  font-family: "Quicksand", Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  padding-top: 38px;
  padding-bottom: 38px; }
  .footer .footer-links {
    line-height: 23px;
    font-weight: 500; }
    .footer .footer-links ul {
      margin-bottom: 0; }
      .footer .footer-links ul li a {
        color: #fff;
        padding: 0 15px; }
        @media only screen and (max-width: 1194px) {
          .footer .footer-links ul li a {
            padding: 0 8px; }}
      .footer .footer-links ul li:first-child a {
        padding-left: 0; }
  .footer .copyright {
    line-height: 23px;
    font-weight: 300;
    text-align: right;
    padding-left: 0;
    color: #bebebe;
    padding-right: 0px; }
  @media screen and (max-width: 992px) {
      .footer .footer-links ul li {
        display: inline-block;
        text-align: center;
        margin-bottom: 10px; }
    .footer .copyright {
      text-align: center;
      font-size: 0.85em; }
    .footer .row > div[class^="col-"] {
      width: 100%; }
      .footer  .footer-links{
      text-align: center;} }
  @media only screen and (max-width: 767px) {
    .footer .footer-links ul {
      margin-bottom: 10px; }
    .footer .copyright {
      text-align: center; }
    .footer .footer-links ul li {
        display:block;}}

p.v-spacer {
  margin-top: 70px; }

/** Common horizontal and vertically content center banner */
.center-banner .container {
  /* add tweaks */ }

.center-banner .content {
  display: flex;
  align-items: center;
  justify-content: center; }

/* Section related */
section.bottom-page {
  background-color: #39464f;
  background: url(../images/footer-bg.png) no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 81px;
  padding-bottom: 81px;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.2); }
  section.bottom-page p {
    line-height: 18px;
    margin-bottom: 32px; }

.section-btm-links {
  padding-top: 33px;
  padding-bottom: 4px; }

.section-vspacer {
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: calc(100vh - 398px); }
  .section-vspacer.vspacer-top-0 {
    margin-top: 0; }
    @media only screen and (max-width: 1194px) {
      .section-vspacer{
            min-height: calc(100vh - 398px);
              }}

.section-btm-shadow {
  /*box-shadow: 0 1px 18px rgba(0, 0, 0, 0.2)*/
  -webkit-box-shadow: 0 10px 18px -10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 18px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 18px -10px rgba(0, 0, 0, 0.2); }

.btm-inner-shadow {
  -moz-box-shadow: inset 0 -10px 18px -7px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 -10px 18px -7px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -10px 18px -7px rgba(0, 0, 0, 0.25); }

/* Common page-heading */
.page-heading {
  padding-bottom: 0;
  margin-top: 0; }
  .page-heading > h1 {
    margin-top: 36px;
    margin-bottom: 40px; }
  .page-heading > h3 {
    margin-bottom: 36px; }
  .page-heading header {
    margin-bottom: 22px; }
    .page-heading header h1, .page-heading header h2, .page-heading header h3 {
      margin-top: 22px;
      margin-bottom: 10px; }
    .page-heading header p {
      line-height: 18px;
      margin-bottom: 0; }

p.cite {
  margin-bottom: 19px; }

/* Spacers and padding, margin utils */
.sm-top-spacer {
  margin-top: 26px; }

.md-top-spacer {
  margin-top: 40px; }

.lg-top-spacer {
  margin-top: 60px; }

.section-btm {
  margin-top: 24px;
  margin-bottom: 42px; }

.no-padding {
  padding: 0; }

.no-V-padding {
  padding-top: 0;
  padding-bottom: 0; }

.no-HR-padding {
  padding-right: 0; }

.no-V-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.no-H-margin {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.top-pad-10 {
  padding-top: 10px; }

.lg-btm-pad {
  padding-bottom: 60px; }

.big-space {
  margin: 0;
  padding: 0;
  height: 180px; }
  @media only screen and (max-width: 992px) {
    .big-space {
      height: 110px; } }
  @media only screen and (max-width: 768px) {
    .big-space {
      height: 70px; } }

.small-padding {
  padding-left: 15px;
  padding-right: 15px; }

@media only screen and (max-width: 768px) {
  .mobile-center {
    text-align: center; } }

@media only screen and (max-width: 768px) {
  .mobile-padding {
    padding-left: 15px;
    padding-right: 15px; } }

@media only screen and (max-width: 992px) {
  .mobile-tablet-padding {
    padding-left: 15px;
    padding-right: 15px; } }

p.divider {
  margin-top: 26px;
  margin-bottom: 23px; }

/* Common inner containers */
.sm-center-wrapper {
  max-width: 400px;
  margin: 0 auto; }
  @media only screen and (max-width: 480px) {
    .sm-center-wrapper {
      max-width: initial; } }

.md-center-wrapper {
  max-width: 850px;
  margin: 0 auto; }
  @media only screen and (max-width: 480px) {
    .md-center-wrapper {
      max-width: initial; } }

/* Floating area for buttons*/
@media only screen and (max-width: 480px) {
  .full-width-mobile-btns .btn {
    float: none;
    margin-bottom: 10px;
    width: 100% !important;
    max-width: 100% !important; }
    .full-width-mobile-btns .btn:last-child {
      margin-bottom: 0; } }

/* Common line borders */
.line-left {
  border-left: 1px solid #dadada; }
  @media only screen and (max-width: 768px) {
    .line-left.mobile-l-unborder {
      border-left: 0 none; } }

.line-bottom {
  border-bottom: 1px solid #dadada; }

.banner {
  background-color: #fff;
  /*box-shadow: 0 1px 18px rgba(0, 0, 0, 0.2)*/
  -webkit-box-shadow: 0 10px 18px -10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 18px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 18px -10px rgba(0, 0, 0, 0.2); }
  .banner .home-banner {
    background: url(../images/plant-growing-v2.png) no-repeat;
    height: 509px;
    padding-left: 96px;
    padding-top: 46px;
    box-shadow: 0 1px 18px rgba(0, 0, 0, 0.2); }
    .banner .home-banner h1 {
      font-size: 48px;
      line-height: 60px;
      margin-bottom: 25px; }
      @media only screen and (max-width: 992px) {
        .banner .home-banner h1 {
          font-size: 35px;
          line-height: 40px; } }
      @media only screen and (max-width: 768px) {
        .banner .home-banner h1 {
          font-size: 28px;
          line-height: 32px;
          padding-right: 15px; } }
      @media only screen and (max-width: 348px) {
        .banner .home-banner h1 br {
          display: none; } }
    .banner .home-banner h3 {
      margin-bottom: 25px;
      font-weight: bold; }
  @media only screen and (max-width: 1199px) {
    .banner > .container {
      width: 100%;
      padding: 0; } }
  @media only screen and (max-width: 768px) {
    .banner .home-banner {
      padding-left: 12.29%;
      background-position-x: center; }
      .banner .home-banner h1 {
        font-size: 27px;
        line-height: 35px;
        text-align: left; } }

.proposals > .container > header p {
  margin-bottom: 32px; }

@media only screen and (max-width: 480px) {
  .proposals .proposal-list {
    padding: 0; } }

@media screen and (min-width: 993px) and (max-width: 1194px) {
  .proposals .proposal-list .thumbnail .over-content img {
    width: 80px; } }

.home-scholarship {
  margin-top: 75px;
  margin-bottom: 0;
  -moz-box-shadow: inset 0 -10px 18px -7px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 -10px 18px -7px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -10px 18px -7px rgba(0, 0, 0, 0.25); }

section.about {
  padding-bottom: 60px;
  -moz-box-shadow: inset 0 -10px 18px -7px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 -10px 18px -7px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -10px 18px -7px rgba(0, 0, 0, 0.25); }
  section.about picture {
    display: block;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden; }
    section.about picture img {
      width: 100% !important; }
    section.about picture:before {
      position: absolute;
      content: " ";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #000;
      opacity: 0.45; }
  section.about.section-vspacer {
    margin-top: 0; }
  @media only screen and (max-width: 991px) {
    section.about picture {
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: 50px;
      border-radius: 0; } }

/**/
@media only screen and (min-width: 993px) {
  section.support .support-box div[class^="col-"]:first-child {
    padding-left: 0; } }

section.support .support-box aside {
  padding: 29px 0 0 0px; }

section.support .support-box .box-content {
  padding: 52px 59px;
  border-left: 1px solid #dadada; }
  section.support .support-box .box-content picture {
    display: block;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 35px; }

@media only screen and (max-width: 992px) {
  section.support .support-box .box-content {
    padding: 35px 30px; } }

@media only screen and (max-width: 768px) {
  section.support .support-box {
    display: block;
    padding-left: 20px;
    padding-right: 20px; }
    section.support .support-box .box-content {
      border-left: 0 none;
      padding: 25px 0; } }

@media only screen and (max-width: 992px) {
  section.support .container-fluid {
    padding-left: 0;
    padding-right: 0; } }

section.contact {
  padding-bottom: 60px;
  -moz-box-shadow: inset 0 -10px 18px -7px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 -10px 18px -7px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -10px 18px -7px rgba(0, 0, 0, 0.25); }
  section.contact .contact-box .box-content {
    padding-top: 75px;
    padding-left: 70px;
    padding-right: 70px; }
    section.contact .contact-box .box-content form {
      margin-top: 25px; }
  section.contact .contact-box .contact-map {
    width: 100%;
    height: 100%; }
  section.contact .contact-box h3 {
    font-size: 26px;
    line-height: 33px; }
  section.contact .contact-box p {
    margin-bottom: 40px; }
  section.contact .contact-box a,
  section.contact .contact-box a:hover {
    color: #36373c; }
  section.contact ul li {
    margin-bottom: 29px; }
    section.contact ul li i {
      font-size: 16.5px;
      line-height: 16.5px;
      margin-right: 16.5px;
      width: 22px;
      text-align: center; }
  @media only screen and (max-width: 992px) {
    section.contact .contact-box .box-content {
      padding-top: 40px;
      padding-left: 35px;
      padding-right: 35px; } }
  @media only screen and (max-width: 768px) {
    section.contact .contact-box {
      display: block; }
      section.contact .contact-box h3 {
        font-size: 22px;
        line-height: 25px; }
      section.contact .contact-box .box-content {
        padding-top: 30px;
        padding-left: 25px;
        padding-right: 25px; }
      section.contact .contact-box .map {
        height: 400px; } }
  @media only screen and (max-width: 480px) {
    section.contact .contact-box {
      display: block; }
      section.contact .contact-box .box-content {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px; } }

.search-results .page-heading h1 span.result-count {
  font-size: 0.72em;
  font-weight: 300; }

.no-results-text {
  font-family: "Quicksand", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 28px;
  text-align: center;
  margin-top: 127px;
  margin-bottom: 81px; }
  @media only screen and (max-width: 992px) {
    .no-results-text {
      font-size: 28px; } }
  @media only screen and (max-width: 768px) {
    .no-results-text {
      font-size: 22px;
      line-height: 22px; } }

.text-found {
  display: inline-block;
  background-color: white;
  padding-left: 1px;
  padding-right: 2px; }

.toolbar {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
  margin-bottom: 28px;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Quicksand", Helvetica, sans-serif;
  font-weight: 500;
  padding: 16px 5px;
  line-height: 18px; }
  .toolbar label.title-label {
    margin-bottom: 8px; }
  .toolbar input[type="checkbox"] + label {
    margin-right: 37px; }
  @media only screen and (min-width: 1200px) {
    .toolbar .row > div[class^="col-"]:first-child {
      width: 227px;
      padding-right: 20px; }
    .toolbar .row > div[class^="col-"]:last-child {
      width: calc(100% - 227px);
      padding-left: 20px; }
    .toolbar .input-options {
      height: 36px;
      display: flex;
      align-items: center; } }
  @media only screen and (max-width: 768px) {
    .toolbar .row > div[class^="col-"]:first-child {
      margin-bottom: 15px; } }
  @media only screen and (max-width: 480px) {
    .toolbar input[type="checkbox"] + label {
      display: block; } }

.tag-area a:not(:last-child) {
  margin-right: 5px; }

.job-btm-links a:not(:last-child) {
  margin-right: 30px; }

section.scholarship-single,
.job-posting {
  margin-top: 0;
  margin-bottom: 0; }
  section.scholarship-single .content-box-wrapper,
  .job-posting .content-box-wrapper {
    padding-top: 35px; }
    section.scholarship-single .content-box-wrapper > header,
    .job-posting .content-box-wrapper > header {
      margin-bottom: 22px; }
      section.scholarship-single .content-box-wrapper > header h2,
      .job-posting .content-box-wrapper > header h2 {
        margin-bottom: 10px; }

.scholarship .sponsor {
  color: #838383; }

.signup .loud {
  margin-top: 70px; }

.signup-info .page-heading h3 {
  margin-bottom: 48px; }

.signup-info .loud {
  margin-top: 36px; }

@media only screen and (max-width: 590px) {
  .signup-info .offers > .row > div[class*="col-"] {
    width: 100%; } }

@media only screen and (max-width: 380px) {
  .login .forgot-account,
  .login .remember-me {
    float: none !important;
    display: block; }
  .login .remember-me {
    margin-bottom: 15px; } }

.login .loud {
  margin-top: 70px; }

section.profile .content-box-wrapper {
  padding-left: 0;
  padding-right: 0;}
  @media only screen and (max-width: 1199px) {
    section.profile .content-box-wrapper {
      margin-left: 0;
      margin-right: 0; } }

.profile-box h2 {
  padding: 35px 40px 28px;
  border-bottom: 1px solid #dadada;
  margin: 0; }

.profile-box .box-content {
  padding-top: 40px;
  padding-bottom: 24px; }
  @media only screen and (max-width: 768px) {
    .profile-box .box-content {
      padding-left: 10px;
      padding-right: 10px; } }

@media only screen and (max-width: 768px) {
  .profile-box h2 {
    padding-left: 15px;
    padding-right: 15px; } }

.color-social i {
  font-size: 18px;
  line-height: 18px;
  margin-right: 5px;
  vertical-align: middle; }

.color-social.c-facebook {
  color: #395b98; }
  .color-social.c-facebook i {
    color: #3b5999; }

.color-social.c-linkedin {
  color: #4b74a0; }
  .color-social.c-linkedin i {
    color: #0077B5; }

a.red-link,a.red-link:hover,a.red-link:focus,a.red-link.active,a.red-link:active {
  color: #FF575B; }

.user-top-info picture {
  display: inline;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin-right: 15px; }
  .user-top-info picture img {
    height: 50px;
    border: 0 none; }

.user-top-info p,
.user-top-info span {
  display: inline-block;
  font-size: 14px;
  font-family: "Quicksand", Helvetica, sans-serif;
  font-weight: 500;
  line-height: 18px;
  vertical-align: top;
  padding-top: 16px; }

.margT_15{
  margin-top: 15px;
}
a,a:focus,a:hover{
  color: #00aeef;
  outline: none;
}
.bottom-page .btn.btn-default.btn-lg{
  color: #ffcb05;
}
.slick-slide:focus,button:focus,.btn:active:focus, .btn:focus{
  outline: none;
  border: none;
}
.btn.active, .btn:active{
  box-shadow: none;
}

.user-top-info{
  margin-top: 16px;
}
.upload_resume{
  border-radius: 0 0 0 4px;
  background-color: #00aeef;
  color: #000000;
  font-family: "Quicksand", Helvetica, sans-serif;
  font-size: 14px;
  padding: 24px 0;
  padding-left: 40px;
}
.upload_info{
  color: #000000;
  font-family: "Quicksand", Helvetica, sans-serif;
  font-size: 14px;
  background-color: #b0eaff;
  padding: 24px 0;
}
.resume_upload_cancel{
  color: #000000;
  font-family: "Quicksand", Helvetica, sans-serif;;
  font-size: 14px;
  border-radius: 0 0 4px 4px;
  background-color: #b0eaff;
  padding: 24px 0;
  padding-right: 60px;
}
.margT_20{
  margin-top: 20px;
}
ul.nav.navbar-nav.pull-right.hidden-xs{
  margin-top: 16px;
}
.terms h6,.privacy-policy h6{
      font-size: 20px;
}
.terms p,.privacy-policy p{
      font-size: 16px;
      font-family: "Helvetica Neue";
}
.contact-box select option{
  color: #000000;
}
textarea{
  resize: none;
}
input.upload_file{
  color: #000000;
  font-family: "Quicksand", Helvetica, sans-serif;
  font-size: 12px;
}

