<nav class="top-links text-center">
  <div class="container">
    <ul class="list-inline">
        <li><a class="pointer" ng-click="get_weather_details('Madrid')">Berlin</a></li>
        <li><a class="pointer" ng-click="get_weather_details('Madrid')">Madrid</a></li>
        <li><a class="pointer" ng-click="get_weather_details('Kiev')">Kiev</a></li>
        <li><a class="pointer" ng-click="get_weather_details('Rome')">Rome</a></li>
        <li><a class="pointer" ng-click="get_weather_details('London')">London</a></li>
    </ul>
  </div>
</nav

<div class="container">
	<div class="row" style="padding: 20px;" ng-init="get_weather_details('Berlin')">
		<div class="col-md-2">
			<table class="table table-bordered text-center">
				<tbody>
					<tr>
						<td>City</td>
						<td class="pointer" ng-click="get_week_data(objWeather.name)">{{objWeather.name}}, {{objWeather.sys.country}}</td>
					</tr>
					<tr>
						<td>Pressure</td>
						<td>{{objWeather.main.pressure}}</td>
					</tr>
					<tr>
						<td>Humidity</td>
						<td>{{objWeather.main.humidity}}</td>
					</tr>
					<tr>
						<td>Sunrise</td>
						<td class="pointer" ng-click="get_week_data(objWeather.name)">{{objWeather.sys.sunrise}}</td>
					</tr>
					<tr>
						<td>Sunset</td>
						<td class="pointer" ng-click="get_week_data(objWeather.name)">{{objWeather.sys.sunset}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-2" ng-repeat="weather in arrWeather.list">
			<div class="div-container">
			<div class="text-center divCity-country">{{arrWeather.city.name}}, {{arrWeather.city.country}}</div>
			<div class="divInfo">
				<img src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png" style="height: 100px;">
				<span class="fs-30">{{weather.temp.day}} &#8451;</span>
			</div>

			<div class="text-center divInfo lbl-description">
				{{weather.weather[0].description}}
			</div>	

			<div class="divInfo">
				<span>Humidity: </span>
				<span>{{weather.humidity}} %</span> 
			</div>

			<div class="divInfo">
				<span>Pressure:</span>
				<span>{{weather.pressure}}</span>
			 </div>

			<div class="divInfo">
				<span>Today's forecast :</span>
				<span> {{weather.weather[0].main}} pressure </span>
			</div>
			<div class="divInfo">
				<span>Max:</span>
				<span>{{weather.temp.max}}&#8451;</span>

				<span>Min:</span>
				<span>{{weather.temp.min}}&#8451;</span>
			</div>
			</div>
			<div class="text-center">
				{{parse_date(weather.dt)}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<canvas id="base" class="chart-bar"  height="350"
			chart-data="arrWeatherForecast" chart-labels="labels" chart-colors="colors" 
			chart-dataset-override="datasetOverride"
			chart-options="options">
			</canvas> 
		</div>
	</div>
</div>
